<%- include("./partials/header") %>
    <div class="container mt-5 ">
        <form action="/add/todo" method="POST" class=" justify-content-center mt-4">
            <div class="mb-3">
                <label for="todo" class="form-label">Title:</label>
                <input type="text" name="todo" class="form-control" id="todo" placeholder="Enter Todo" style="max-width: 700px;">
            </div>
            <div class="mb-3">
                <label for="description" class="form-label">Description:</label>
                <textarea class="form-control" name="description" id="description" placeholder="Add description" style="max-width: 700px; height: 100px;"></textarea>
            </div>
            <button type="submit" class="btn btn-primary">Add Todo</button>
        </form>
        
        <div class="d-flex flex-wrap">
            <% todo.forEach(function(mytodos) { %>
                <div class="card card-body mt-4 mx-2" style="flex-grow: 0; flex-basis: 300px;">
                    <h5 class="card-title" autocomplete="off">Title: <%= mytodos.todo %></h5>
                    <p class="card-text" autocomplete="off">Description: <%= mytodos.description %></p>
                    <a href="/delete/todo/<%= mytodos._id %>" class="btn btn-danger btn-sm mx-5">Delete</a>
                    <a href="/update/todo/<%= mytodos._id %>" class="btn btn-primary btn-sm mt-2 mx-5">Update</a>

                </div>
            <% }) %>
        </div>
        

    </div>





    <%- include("./partials/footer") %>